* { /* VYBERIEME VSETKY ELEMENTY NA STRANKE */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ALL PAGE */
.allPage{
    background: linear-gradient(rgb(141, 0, 0), black);
    height: 100vh;
    
   
}

/* PLAYGROUND */

.playground{
    width: 80%;
    height: 80%;
    background-color: darkblue;
    position: absolute;
    top: 10%;
    left: 10%;

}

